.container {
  display: flex;
  background-color: white;

  &__column:first-child {
    width: 30%;
  }
  &__column:last-child {
    width: 70%;
    margin: 0 auto;
    background-color: $container;
  }
}
