.container {
  display: flex;
  background-color: white;

  &__column:first-child {
    width: 40rem;
  }
  &__column:last-child {
    width: 120rem;
    margin: 0 auto;
    background-color: $container;
  }
}
